.sp-btn, .sp-fcontrol, a {
    transition: all 0.3s ease;
}
.sp-fright {
    float: right;
}
.sp-inl-right {
    float: right;
    padding: 15px 0;
}
//  text
.text-slim {
    font-weight: 300;
}
.text-dgrey {
    color: #666;
}
.text-sm {
    font-size: $size-sm-text;
}
.text-descr {
    line-height: 1.6em;
}
a {
    color: $color-primary;
    text-decoration: none;
}
//  buttons
.btn, a {
    &:hover, &:active, &:focus {
        outline: none;
    }
}
.sp-btn {
    font-size: $size-sm-text;
    font-family: inherit;
    font-weight: 600;
    padding: 15px 50px;
}
.btn-prim {
    background-color: $color-primary;
    color: #FFFFFF;
    &:hover {
        color: #FFFFFF;
    }
}
//  form
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: #FFFFFF !important;
}
.sp-fsection {
    margin-top: 30px;
    margin-bottom: 30px;
    .sp-fgroup {
        margin-bottom: 22px;
    }
    .checkbox {
        label {
            font-size: $size-sm-text;
            font-weight: 600;
        }
    }
}
.sp-fcontrol {
    border: 0;
    border-radius: 0;
    background-color: #FFFFFF;
    font-weight: 600;
    box-shadow: none;
    border-bottom: 1px solid $color-lgrey;
    &:active, &:hover {
        outline: none;
    }
    &:focus {
        outline: none;
        border: 0;
        box-shadow: none;
        border-bottom: 2px solid $color-primary;
    }
}
.sp-fcheck {
    position: relative;
    input[type="checkbox"] {
        display: none;
    }
    label {
        margin-left: 25px;
        cursor: pointer;
        &::before {
            position: absolute;
            content: '';
            left: 0px;
            top: 1px;
            width: 14px;
            height: 14px;
            border: 1px solid $color-primary;
            border-radius: 2px;
        }
    }
    input[type="checkbox"]:checked + label::after {
        position: absolute;
        content: '\2714';
        left: 2px;
        top: -1px;
        color: #108fff;
    }
}
//  images
.ico-sm {
    width: 18px;
}
